.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-family: Kanit;
    flex-wrap: wrap;
  }
  .music_box {
    background: rgb(212, 147, 255);
    text-align: center;
    padding: 32px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin: 25px; for android responsive */
  }
  .menu_icon {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
  }
  .setting_icon {
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  .music_icon {
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-top: 40px;
    transition: .8s;
  }
  .music_icon:hover {
    transform: rotate(360deg);
    background: #eee;
  }
  .music_bottom {
    background: #fff;
    color: #999;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;
  }
  .music_bottom img {
    width: 30px;
    margin-top: 15px;
    cursor: pointer;
  }
  .music_box button {
    background: rgb(212, 147, 255);
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;
  }
  .music_box h3 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
  }
  .social_media img {
    width: 50px;
    margin: 10px 10px;
    cursor: pointer;
  }
  .music_box:nth-child(1) {
    background: rgb(212, 147, 255);
  }
  .music_box:nth-child(2) {
    background: rgb(255, 147, 161);
  }
  .music_box:nth-child(3) {
    background: rgb(255, 212, 147);
  }