.row {
    width: 100%;
    /* background: #fcfcfc; */
}
.icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }
  /* Data.map css */
  .no1{
    width: 17rem;
    height: 17rem;
    overflow: hidden;
    /* border-radius: 100%; */
    margin-left: 50px;
    margin-bottom: 80px;
    transition: 0.5s;
    cursor: pointer;
    /* padding: 20px;
    background: red; */
    /* animation: rotates 1.5s linear infinite; */

    
  }
  .no1:hover{
    transform: scale(1.1);
  }
  /* Data.map css */

/* Player Data...*/

@keyframes rotates{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}