.main {
  text-align: center;
  color: white;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.head{
  margin-top: 5%;
}
.head .image {
  width: 700px;
  height: 38px;
}
.h2 {
  margin-top: auto;
  font-size: 28px;
}